.block {
    height: 100px;
    width: 100px;
    border: solid 1px black;
    display: inline-block;
}

.target {
    
    max-width: 100%;
}

.add-blocks-btn {
    margin-bottom: 5px;
}

.selected {
    background-color: cornflowerblue;
}